.board-wrapper {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0 25%;
}

.game-board {
  background-color: #1f1f1f;
  color: #dcdcdc;
  height: 29rem;
  border-spacing: 0;
}

td:nth-child(3),
td:nth-child(6) {
  border-right-color: #727272;
  border-right-width: 2px;
}

tr:nth-child(3) td,
tr:nth-child(6) td {
  border-bottom-color: #727272;
  border-bottom-width: 2px;
}
