.board-wrapper {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.game-board {
  background-color: #1f1f1f;
  color: #dcdcdc;
  height: 29rem;
  border-spacing: 0;
}

.game-board td:nth-child(3),
.game-board td:nth-child(6) {
  border-right-color: #727272;
  border-right-width: 2px;
}

.game-board tr:nth-child(3) td,
.game-board tr:nth-child(6) td {
  border-bottom-color: #727272;
  border-bottom-width: 2px;
}

@media only screen and (max-width: 600px) {
  .board-wrapper {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .board-wrapper {
    margin: 0 25%;
  }
}

@media only screen and (min-width: 992px) {
  .board-wrapper {
    margin: 0 33%;
  }
}
