.header {
  background-color: #1f1f1f;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Courier New", Courier, monospace;
  color: #dcdcdc;
  font-size: 1.5rem;
  letter-spacing: 0.075rem;
}
